* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Modak', cursive;
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
}

body {
  background-color: #dddddd;
}

main {
  flex-wrap: wrap;
}

.title > h1 {
  margin-left: 25px;
  color: #29b1dd;
}

.subtitle {
  background-color: #29b1dd;
  color: #fff;
  height: 50px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.subtitle > select {
  margin-left: 10px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  height: 120px;
  width: calc(100% / 5 - 50px);
  margin: 30px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card i {
  font-size: 20px;
}

.animal {
  color: blue;
}

.vegetable {
  color: gold;
}

.user {
  color: purple;
}
